.main-information-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: $font-family-regular;
  text-align: left;
  @include text(14px, 18px, $text-color-black);

  @media (min-width: $screen-size-768) {
    flex: 1fr 1fr;
    flex-direction: row;
    justify-content: space-between;
    gap: $spacing-48;
  }
  @media (min-width: $screen-size-1366) {
    flex: 1fr 1fr;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: $spacing-32;
  }

  &__imgCPS {
    width: 100%;
    height: auto;
    object-fit: contain;
    min-width: 320px;

    @media (min-width: $screen-size-768) {
      min-width: 360px;
    }
    @media (min-width: $screen-size-1366) {
      min-width: 531.35px;
    }
  }

  &__expand-button {
    margin-top: $spacing-16;
    padding-left: $spacing-8;

    @media (min-width: $screen-size-768) {
      margin-top: $spacing-8;
    }
    @media (min-width: $screen-size-1366) {
      margin-top: $spacing-16;
    }
  }
}
