@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../Fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../Fonts/TTLakes-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../Fonts/TTLakes-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
